player-connection-mode=Listen
player-connection-guid=4168903762
player-connection-debug=0
player-connection-ip=192.168.1.50
player-connection-ip=25.12.50.49
player-connection-ip=192.168.130.1
player-connection-ip=192.168.122.1
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
scripting-runtime-version=latest
vr-enabled=1
vr-device-list=OpenVR,Oculus
hdr-display-enabled=0
